

.txt-01{
    font-size: 0.1rem;
}

.txt-02{
    font-size: 0.2rem;
}

.txt-03{
    font-size: 0.3rem;
}

.txt-04{
    font-size: 0.4rem;
}

.txt-05{
    font-size: 0.5rem;
}

.txt-06{
    font-size: 0.6rem;
}

.txt-07{
    font-size: 0.7rem;
}

.txt-08{
    font-size: 0.8rem;
}

.txt-09{
    font-size: 0.9rem;
}

.txt-10{
    font-size: 1rem;
}


.txt-11{
    font-size: 1.1rem;
}

.txt-12{
    font-size: 1.2rem;
}

.txt-13{
    font-size: 1.3rem;
}

.txt-14{
    font-size: 1.4rem;
}

.txt-15{
    font-size: 1.5rem;
}

.txt-16{
    font-size: 1.6rem;
}

.txt-17{
    font-size: 1.7rem;
}

.txt-18{
    font-size: 1.8rem;
}

.txt-19{
    font-size: 1.9rem;
}

.txt-20{
    font-size: 2rem;
}